
*.iml
.idea/

.DS_Store

*.asc
git.properties

**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

target
*.bak
*.log

example-logback-application/data
logback-gelf-config/data
logback-logstash-config/data
